.Header{
    font-size: 230%;
    text-align: center;
      text-shadow: 1px .25px;
      
   
   

}


.Header:hover {
    color:aqua;
}

.UserTesting {
    align: left;
      text-shadow: 1px .25px;
     
}

.Project1{   
    color:black;
    text-shadow: 1px .25px;
    position: relative;
     top: 50%;
  left: 35%;
}

.Project1text{
    display: inline;
     
}

.description {
   
   position: absolute;
    width: 50;
   
    
    
}

.description2 {
       
   position: absolute;
    
    left: 35%;
    text-shadow: 1px .25px;
    color:black;
    
    
}

.Project2 {
    
    align: left;
    Position: relative; 
    left: 35%;
    margin-top: 15%;
       text-shadow: 1px .25px;
    
}
    
#img1{
    border: 2px solid;
    padding: 15px;
}

#img2{
    border:2px solid;
    padding: 15px
}

